{% extends 'header.html' %}
{% block content %}

<section class="w3l-content-6 py-5" id="why">
    <div class="container py-lg-5">
      <div class="row">
        <div class="col-lg-2 content-6-left">
          <form action="/detectmotion" method="post">
            <div>
              <button type="submit" class="btn btn-style btn-success">Detect Motion</button>
            </div>
          </form>
        </div>
        <div class="col-lg-4 content-6-left">
          <h6 class="sub-title">Date and Time</h6>
          <h3 class="hny-title">Get Images</h3>
        </div>
        <div class="col-lg-6 content-6-right mt-lg-0 mt-4">
          <div class="form-inner-cont">
              <form action="/getimages" method="post" class="signin-form">
                <div class="form-input">
                  <label>Name</label>
                  <input type="date" name="date" placeholder="" />
                </div>
                <div class="form-input">
                  <label>Name</label>
                  <input type="time" name="time" placeholder="" />
                </div>

                <div class="form-submit text-right">
                    <button type="submit" class="btn btn-style btn-primary">Get Images</button>
                  </div>
              </form>
            </div>
        </div>
      </div>
    </div>
</section>

{% endblock %}